# Data directories
data/*solutions/
data/mesh2500/
data/wellington*/
data/nz_bathy*
data/coastline/
sites/
QGIS/

# Output directories
results/
subduction/out_files*
subduction/displacements/
subduction/discretised*
crustal/out_file*/
crustal/discretised*

# __pycache__ and vscode directories
*/__pycache__/
./.vscode/

# Other files
mesh_corrections.csv
array_operations.py
FaultSectionsTesting.qgz
for_jaime.zip
.vscode/launch.json
*qmd
docs/
*png
*.geojson
*.qgz